header {
    background-image: url('img/src/church3.png');
    background-size: cover;
    background-position: 30% 30%;
}
footer {
    background-color: rgb(41, 38, 38);
}
body
{
    background-color: rgb(214, 214, 214);
}